# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries
- Popular tools table
- Arithmetic examples

### Some of the popular languages that Data Scientists use are:
- R
- Python
- Java
- Julia
- Scala
- SQL

### Some of the commonly used libraries used by Data Scientists include:
1. idk
2. idc
3. idgaf

### Data Science Tools

| Data science tools |
|------|
|Jupyter Notebook |
|IBM Watson Studio   | 
|R studio  |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author

Tom Tran